<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Example Skinny index page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/front_page.css"/>
    <link rel="alternate" type="application/atom+xml" href="blog/feed.xml" title="Blog feed"/>
  </head>
  <body>
      <nav>
        <div>
          <ul>
            <li>
              <a href="static.html">
                A static page
              </a>
            </li>
          </ul>
        </div>
        <div>
          Blog posts
          <a href="blog/feed.xml"
             style="text-decoration: none; color: inherit;">
            <img src="images/feed-icon.svg"
                 alt="feed icon"
                 title="Blog Atom feed"
                 height="16"/>
          </a>
          <!--{{{posts}}}-->
        </div>
      </nav>
        <header>
          Example Skinny index page
        </header>
        <p>
          This is an example Skinny <code>index.html</code> file.
          This is in (XML compatible) HTML5, but can easily be adapted
          to HTML4.01 or XHTML1.1.
        </p>
      </div>
    </div>
  </body>
</html>
